
//------------FONT TYPES

$mb:                  'montserratbold', arial, sans-serif;
$mr:                  'montserratregular', arial, sans-serif;
$rbl:                 'robotoblack', arial, sans-serif;
$rbli:                'robotoblack_italic', arial, sans-serif;
$rbo:                 'robotobold', arial, sans-serif;
$rboi:                'robotobold_italic', arial, sans-serif;
$ri:                  'robotoitalic', arial, sans-serif;
$rl:                  'robotolight', arial, sans-serif;
$rli:                 'robotolight_italic', arial, sans-serif;
$rm:                  'robotomedium', arial, sans-serif;
$rmi:                 'robotomedium_italic', arial, sans-serif;
$rr:                  'robotoregular', arial, sans-serif;
$rt:                  'robotothin', arial, sans-serif;
$rti:                 'robotothin_italic', arial, sans-serif;

//-------------COLOURS

$white:               #fff;
$red:                 #ff4e50;
$black:               #000;
$darkgrey:            #333;
$midgray:             #666;
$lightgray:           #999;
$whitegray:           #ccc;



